.main {
    display: flex;
    align-items: center;
    background-image: url('images/background3.jpg');
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    min-width: 95vw;
    min-height: 95vh;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    border: 5px solid #926930;
    box-shadow: 0 0 5px #926930; 
  }

.main h2 {
    padding: 20px;
}

a {
    padding: 0 20px;
    margin: 0;
  }

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

body {
  background-color: #b8915f;
  font-family: 'Press Start 2P', cursive;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-photo {
  display: inline-block;
  margin-right: 10px;
}

h1 {
  display: inline-block;
}
/*
@media screen and (max-width: 768px) {
  header, footer {
    flex-direction: column;
    text-align: center;
  }
 
  footer a {
    margin-bottom: 10px;
  }
  header a {
    margin-bottom: 10px;
  }
  .logo {
    margin-bottom: 10px;
  }
}*/